header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 0, 0, 0.89);
    color: white;
}

img{
    width: 10%;
    
}

a{
    padding: 20px;
    color: white;
    

}
